{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="seccion">
  <p class="post-fecha">{{ post.fecha_publicacion|date:"d M Y" }}</p>
  <h2>{{ post.titulo }}</h2>

  <div class="post-contenido">
    {{ post.contenido|linebreaks }}
  </div>

  <div class="imagenes-contenedor">
    {% for archivo in post.archivos.all %}
      {% include "blog/includes/post_file.html" with archivo=archivo %}
    {% endfor %}
  </div>

  <!-- Comentarios -->
  <h3 style="margin-top: 40px;" data-i18n="comments_title">Comentarios</h3>
  {% for comentario in comentarios %}
    {% include "blog/includes/comment.html" with comentario=comentario %}
  {% empty %}
    <p data-i18n="no_comments">No hay comentarios aún.</p>
  {% endfor %}

  <!-- Formulario de comentario -->
  <h3 data-i18n="add_comment_title">Agregar comentario</h3>
  {% if user.is_authenticated %}
    <form method="post">
      {% csrf_token %}
      <label for="id_texto" data-i18n="form_label_texto"></label>
      {{ form.as_p }}
      <button type="submit" class="boton-descarga" data-i18n="publish_button">Publicar</button>
    </form>
  {% else %}
    <p>
      <span data-i18n="login_to_comment">Debes</span>
      <a href="{% url 'login' %}?next={{ request.path }}" data-i18n="login_link">iniciar sesión</a>
      <span data-i18n="to_comment">para comentar.</span>
    </p>
  {% endif %}
</section>

<script src="{% static 'blog/js/comentarios.js' %}"></script>
{% endblock %}
