<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-i18n="title">Portfolio</title>
  
  <!-- CSS base -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <!-- Fonts y icons -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}">

  {% block extra_head %}{% endblock %}
</head>

<body>
  {% include "includes/particles.html" %}

  {% block navbar %}
    {% include "includes/navbar.html" with section_links=False %}
  {% endblock %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include "includes/footer.html" %}
  {% include "includes/ai_chat.html" %}
  
  <!-- Libreria externa -->
  <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
  
  <!-- Script modular principal -->
  <script type="module" src="{% static 'js/main.js' %}"></script>

  {% block extra_scripts %}{% endblock %}
</body>
</html>